/* roboto font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* be VietNam font */
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* bacsic css */
.container {
    width: 100%;
    min-height: 1000px;
    background-color: white;
    justify-content: center;
    margin-top: 118px;
    position: relative;
}

.container__title {
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    width: 893px;
    height: 144px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.01em;
    color: #C2000C;
}

.container__box-info {
    display: flex;
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    width: 478px;
    height: 36px;
    gap: 46px;
    margin-top: 20px;
}

.container__time {
    display: flex;
    gap: 22.5px;
}

.container * {
    display: flex;
    align-items: center;
}

.container__hashtag {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 14px;
    width: auto;
    height: auto;
    background: #993339;
    border-radius: 40px;
}

.container__hashtag p {
    display: flex;
    justify-content: center;
    width: 72px;
    height: 27px;
    font-family: 'roboto';
    font-style: normal;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0.015em;
    text-align: left;
    overflow: hidden;
    color: white;
}

.container__time p {
    display: flex;
    height: 36px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    letter-spacing: 0.01em;
    color: #B0B0B0;
}

.container__time .time {
    width: 200px;
    height: 36px;
}

.container__box-img{
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.container__box-img .wrapper{
    width: calc(100% - 104*2px);
    display: flex;
    gap: 16px;
}
.container__box-img .wrapper .img-left{
    width: calc((100% - 16px) / 1216 * 485);
}
.container__box-img .wrapper .img-right{
    width: calc((100% - 16px) / 1216 * 731);
}