@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    pointer-events: auto; /* Vẫn cho phép tương tác với con trỏ */
    user-drag: none; /* Chặn kéo ảnh trên trình duyệt WebKit (Chrome, Safari, v.v.) */
    -webkit-user-drag: none; /* Chặn kéo ảnh trên trình duyệt WebKit */
    user-select: none;
}
body{
    width: 100%;
    min-width: 1440px;
    min-height: 100vh;
}
content{
    position: relative;
}
/* Custom scrollbar width */
::-webkit-scrollbar {
    width: 0px; /* Adjust the width as needed */
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
/* Horizontal Scrollbar */
::-webkit-scrollbar {
    height: 0px; /* Adjust the height as needed */
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}