.footer {
    width: 100%;
    height: 456px;
    position: relative;
}
a {
    text-decoration: none;
}
.footer__container {
    padding-top: 165px;
    width: 100%;
    height: 245px;
    background-image: url(../../assets/img/footer/footer_background.jpg);
    background-size: cover;
}

.footer__container .wrapper {
    position: relative;
    width: calc(100% - 240px);
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer .logo {
    display: flex;
    width: calc(409px - 110px);
    height: 173px;
    position: relative;
    transform: translateY(15px);
    
}

.footer .logo__shadow {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    width: calc(648px - 160px);
}

.footer .logo__main {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    width: calc(409px - 110px);
}

.footer__buttons {
    margin-top: 60px;
    display: grid;
    gap: 18px;
    position: absolute;
    transform: translate(-50%, -5px);
    left: 50%;
}
.buttons--bottom,
.buttons--top {
    display: flex;
    gap: 48px;
}
.buttons--top {
    position: relative;
    left: -10%;
}
.buttons--bottom {
    position: relative;
    left:10%;
}

.footer .footer__buttons .button {
    box-sizing: border-box;
    padding-top: 3px;
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: #FFF;
    background: rgba(255, 255, 255, 0.06);
    border-radius: 50px;
    width: 121px;
    height: 45.38px;
    box-shadow: 0px 4px 3px 0px #0000001A;
    border-radius: 50px;
}
.footer .footer__buttons .button:hover {
    background: rgba(255, 81, 0, 0.696);
}

.contact {
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
    transform: translate(0, 5px);
}

.contact * {
    display: inline-block;
    display: flex;
    align-items: center;
}

.contact__title {
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #FFF;
    width: 255px;
}

.contact__mail,
.contact__phone {
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #FFF;
}

.contact img {
    width: 32px;
    height: 32px;
    margin-right: 8px;
}

.footer__copyright {
    position: absolute;
    bottom: 0;
    align-content: center;
    /* text-align: center; */
    width: 100%;
    height: 44px;
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #D31F0E;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
