.header {
    position: sticky;
    top: 0;
    display: flex;
    width: 100%;
    height: 64px;
    background: #FFFFFF;
    box-shadow: 0px 8px 24px 0px #0000000D;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.header .wrapper {
    width: calc(100% - 104*2px);
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 162.34px;
    height: 50.27px;
    position: relative;
    transform: translate(0,1px);
}

.header--right {
    display: flex;
    align-items: center;
    gap: 177.82px;
    transition: 0.2s;
}

.nav {
    display: flex;
    list-style: none;
    gap: 80px;
    height: 32px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

.nav__link {
    display: inline-flex;
    height: 32px;
}
.nav__link:hover a{
    transition: 0.05s;
    transform: translate(-2px,2px);
    color: #FE7F00;
}
.nav__link a {
    margin: auto;
    text-decoration: none;
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    display: inline-flex;
    align-items: center;
    text-align: center;
    position: relative;
    transform: translate(-2px, 0);
    color: #000000;

}

.header__input {
    display: flex;
    align-items: center;
    gap: 39.1px;
}

.header__searchbox {
    position: relative;
    transform: translateX(-1px);
    display: flex;
    height: 28px;
    width: 103px;
    /* border: 2px solid black; */
    border-right: none;
    display: flex;
    align-items: center;
    border-radius: 50px;
    transition: 0.2s;
}
.searchbox__input:hover::placeholder {
    color: #FFFFFF;
}
.header__searchbox * {
    height: 100%;
}

.searchbox__input {
    width: 100%;
    box-sizing: border-box;
    height: calc(100% + 4px - 0.25px);
    user-select: none;
    border: none;
    border-radius: 50px;
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    text-align: left;
    padding: 0px 0 0 34px;
    outline: none;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 0px;
    background-color: transparent;
    border: 2px solid black;
}
.searchbox__input::placeholder {
    color: #000000;
}

.searchbox__button {
    z-index: 1;
    position: absolute;
    left: -2px;
    border: 2px solid black;
    border-radius: 50px;
    cursor: pointer;
    background-color: white;
}

.searchbox__img {
    pointer-events: none;
    user-select: none;
    box-sizing: border-box;
    padding: 8px;
}

.header__login {
    position: relative;
    transform: translate(-1.5px, -3px);
    border: none;
    background-color: transparent;
    width: 38.54px;
    height: 38.21px;
}
.login__img1 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* width: 100%; */
    height: 100%;
    background-color: white;
    z-index: 1;
    padding: 10px;
}
.login__img1:hover {
    transition: 0.2s;
    background: transparent;
    opacity: 0;
    cursor: pointer;
}
.login__img2 {
    position: absolute;
    left: 50%;
    top: calc(50% - 1px);
    transform: translate(-50%, -50%);
    width: calc(100% + 9.5px);
    height: calc(100% + 9.5px);
}